rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    
    // Explicitly allow read/write for all users and config
    match /users/{document=**} {
      allow read, write: if true;
    }
    
    match /users {
      allow read, write: if true;
    }

    match /config/app {
      allow read, write: if true;
    }
    match /settings/{document=**} {
      allow read, write: if true;
    }
    
    match /showroom/{document=**} {
      allow read, write: if true;
    }
  }
}
